# =================================
# Application
# =================================
APP_NAME="Yari_Service_API"
APP_VERSION="1.0.0"
APP_DESCRIPTION="Api para Yari, una plaraforma pra inventario de emprendedores y pequeñas empresas"
ENVIRONMENT=development   #development | production | staging | test


# =================================
# MongoDB Atlas (Cloud Database)
# =================================
MONGODB_URL=mongodb+srv://<usuario>:<password>@cluster.mongodb.net/?appName=SvelpyTests
MONGODB_DB_NAME=yari_db
TEST_MONGODB_DB_NAME=yari_db_test


# =================================
# JWT (Authentication)
# =================================
SECRET_KEY=tu_secret_key_aqui


# =================================
# Cloudinary (Video & Image Storage)
# =================================
CLOUDINARY_CLOUD_NAME=dxxyswcjv
CLOUDINARY_API_KEY=tu_cloudinary_api_key
CLOUDINARY_API_SECRET=tu_cloudinary_api_secret
CLOUDINARY_FOLDER_NAME=YARI

# =================================
# CORS
# =================================

DEV_ORIGINS="http://localhost:5173,http://localhost:5174,http://localhost:5175"
PROD_ORIGINS="svelpy.com.bo"

# =================================
# Initial Seed Data
# =================================
SEED_ADMIN_EMAIL_1=bgonsalescoronado@gmail.com
SEED_ADMIN_NAME_1=Brandon
SEED_ADMIN_LASTNAME_1=Gonsales Coronado
SEED_ADMIN_USERNAME_1=BackendSvelpyLeader
SEED_ADMIN_PASSWORD_1=TuPasswordSeguro123

SEED_ADMIN_EMAIL_2=luis111ferrivera@gmail.com
SEED_ADMIN_NAME_2=Luis Fernando
SEED_ADMIN_LASTNAME_2=Rivera Hinojosa
SEED_ADMIN_USERNAME_2=FrontendSvelpyLeader
SEED_ADMIN_PASSWORD_2=TuPasswordSeguro123


# =================================
# Resend (Correo transaccional)
# =================================
RESEND_API_KEY=re_tu_resend_api_key
RESEND_FROM_EMAIL="Svelpy Support Team <no-reply@mail.svelpy.com>"
RESEND_REPLY_TO=soporte@svelpy.com
AUTH_FRONTEND_URL=http://localhost:8000/api/v1/auth

# =================================
# Redis (Cache & Rate Limiting)
# =================================
REDIS_URL=redis://default:password@host.db.redis.io:19701
